.spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* ensures left-right layout */
  }
  
  mat-toolbar a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
  }
  
  button[mat-button] {
    color: white;
  }
  